 <!-- Hero Section -->
 <section id="hero" class="hero section dark-background">

    <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in" class="aos-init aos-animate">
  
    <div class="container">
      <h2 data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">Learning Today,<br>Leading Tomorrow</h2>
      <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">We are team of talented designers making websites with Bootstrap</p>
      <div class="d-flex mt-4 d-flex mt-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
        <a href="courses.html" class="btn-get-started">Get Started</a>
      </div>
    </div>
  
  </section>
  <!-- /Hero Section -->